.mobileMenuWords {
  font-size: 2.5rem;
  font-weight: 500;
  white-space: nowrap;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  font-family: Libre_Baskerville, serif;
  color: lightskyblue; /*  Green 600  */
  line-height: 3.5rem;
}
.mobileMenuWords:hover {
  color: rgb(65, 154, 255); /* varLightBlueFeather */
}
