* {
  margin: 0;
  box-sizing: 0;
}

/* -------------Navbar and Burger menu ---------- */
.navWrapper {
  position: fixed;
  width: 100%;
  height: 5em;

  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.burger-menu {
  background-color: transparent;
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
.burger-bar {
  width: 4em;
  height: 0.5em;

  border-radius: 0.5em;
}
.menu {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  margin-right: 40px;

  top: 40px;
  z-index: 0;
}
/* ---------------Sliding Menu-------------- */

.hidden {
  display: none;
}
.visible {
  display: inherit;
}

/* ---------Animations------ */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 01.25em);
  transition: ease-in-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-in-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-in-out 0.5s;
}

/* --------un-clicked---------------------- */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.hiddenH1 {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top: 24px;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
