.scubaMan {
  transform: scaleX(-1);
}
.dataToolTip12 {
  display: inline-block;
  position: relative;
}
.dataToolTip12:hover::before,
.dataToolTip12:hover::after {
  --scale: 1;
}
.dataToolTip12::before {
  content: "";
  color: #dbeafe;
  background: radial-gradient(black, #492407);
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: bottom center;
  transition: ease-in 0.25s;
  bottom: 5.2rem;
  border: 3px solid #492407;
  border-radius: 10px;

  padding-left: 2rem;
  padding-right: 2rem;
  --scale: 0;
  z-index: 3;
}

.dataToolTip12::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.1em;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transform-origin: top center;
  transition: 0.25s;
  bottom: 2.45rem;
  border: 15px solid transparent;
  border-top: #492407 10px solid;
  color: #fff9d7;
  --scale: 0;
  z-index: 2;
}
.dataToolTip13 {
  top: -2px;
}
.dataToolTip13:hover::before,
.dataToolTip13:hover::after {
  --scale: 1;
}
.dataToolTip13::before {
  content: "";
  background: radial-gradient(black, #492407);
  color: #dbeafe;
  width: max-content;
  position: absolute;
  content: attr(data-tool-tip);
  padding: 0.1em 0.1em 0.2em 0.1em;

  transform: translateX(-100%) scale(var(--scale));
  transform-origin: bottom left;
  transition: ease-in 0.25s;
  bottom: 6.75rem;
  background: radial-gradient(black, #492407);
  border-radius: 10px;

  padding-left: 2rem;
  padding-right: 2rem;
  --scale: 0;
  z-index: 3;
  left: 13rem;
}
.dataToolTip13::after {
  content: "";
  top: -0.5rem;
  width: 15px;
  height: 15px;
  position: absolute;
  padding: 0.1em 0.1em 0.2em 0.1em;
  left: 5.45rem;
  transform: translateX(-85%) scale(var(--scale));
  transform-origin: top center;
  transition: 0.25s;

  border: 15px solid transparent;
  border-top: #492407 10px solid;
  color: #fff9d7;
  --scale: 0;
  z-index: 1;
}
