.toggle-btn {
  @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:rotate-[720deg] [&>div]:bg-transparent;
}
@keyframes rotateX {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.rotate {
  animation: rotateX 25s linear infinite alternate;
  display: inline-block;
}
@keyframes rotateX {
  0% {
    transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(360deg);
  }
  100% {
    transform: rotatey(0deg);
  }
}
@media only screen and (orientation: landscape) {
  #mobile-menu2 {
    display: none;
  }
}
@media only screen and (max-width: 319px) {
  #Hamburger-Menu {
    font: xx-small;
  }

  @media only screen and (min-width: 320px) and (max-width: 412px) {
    #mobile-menu {
      font-size: 28px;
    }
    @media only screen and (min-width: 640px) {
      #hamburger-menu {
        display: none;
      }
    }
    @media (min-width: 350px) {
      #headersection {
        max-width: 350px;
      }
    }
    /* xxs */
    @media (min-width: 400px) {
      #headersection {
        max-width: 400px;
      }
    }
    /* xs */
    @media (min-width: 500px) {
      #headersection {
        max-width: 500px;
      }
    }
    /* s */
    @media (min-width: 640px) {
      #headersection {
        max-width: 640px;
      }
    }
    /* md */
    @media (min-width: 768px) {
      #headersection {
        max-width: 768px;
      }
    }
    /* lg */
    @media (min-width: 1024px) {
      #headersection {
        max-width: 1024px;
      }
    }
    /* xl */
    @media (min-width: 1280px) {
      #headersection {
        max-width: 1280px;
      }
    }
    /* 2xl */
    @media (min-width: 1536px) {
      #headersection {
        max-width: 1536px;
      }
    }
  }
}
